<div class="span6 offset3 boxy">

	<h1 class="custom-font">Hi I'm Matt</h1>


	<p>I'm having a ton of fun learning rails!</p>
	<%= link_to('Check out my App', pics_path, :class => 'btn btn-info btn-large') %>
</div>