<div class="">
	<h2 class="custom-pic-header">Here are all the pics!</h2>
</div>
<div>
	
	<% @pics.each do |param| %>
	<div class="span3">
		<div class="boxy">
			<h3>Hour <%= param.hour %></h3>
			<%= image_tag param.image%>
			<p />
			<h4><%= param.emotion %></h4>
			<p />
			<h4>What I learned:</h4>
			<p /><%= param.learned %>
			<p />
		</div>
	</div>
</div>
<% end%>
<br />